# Godot 4+ specific ignores
.godot/
/android/
addons/mergingmeshes/Icon.png.import
addons/mergingmeshes/icons8-mesh-32.png.import
addons/mergingmeshes/MergingMeshes.gd.uid
addons/mergingmeshes/plugin.gd.uid
icon.svg
icon.svg.import
main.tscn
project.godot
texture.jpg
texture.jpg.import
.editorconfig
